body {
padding: 3px;
font-size: 14px;
background-position: center;
background-color: #585893;
color: #acacd7;
font-family: bubbleboddy;
background-image: url(images/background/background.gif);
}
#div-decorations {
  background-color: #ff99ff;
  font-family: bubbleboddy;
}
.header {
  text-align: center;
  border: 1px solid black;
  background-image: url(images/logos/logo.png);
  background-position:  center center;
  width: 571px;
  height: 302px;
  font-family: bubbleboddy;
}
#main, #head {
  border: 4px inset #ff99ff;
  padding: 5px 15px;
  text-align: center;
  background-position:  center center;
  background-color: white;
  font-family: bubbleboddy;
  color: #8b96b2;
}
h1 {
  border-bottom: 3px solid #99ff99;
  font-size: 50px;
  color: #e484e6;
  font-family: bubbleboddy;
}
ul#menu {
  padding: 0;
  text-align: center;
  margin-bottom: 11px;
  font-family: bubbleboddy;
}
ul#menu li {
  display: inline;
  margin-right: 3px;
  font-family: bubbleboddy;
}
ul#menu li a {
border: 1px solid #9999ff;
padding: 10px 20px;
background-image: url(images/gradient.PNG);
background-color: #6b9dff;
background-repeat: repeat-x;
background-position:  center center;
font-size: 12px;
text-decoration: none;
font-family: bubbleboddy;
color: white;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
}
ul#menu li a:hover {
border: 1px solid #9999ff;
padding: 10px 20px;
background-image: url(images/gradient.PNG);
background-color: #6b9dff;
background-repeat: repeat-x;
background-position:  center center;
font-size: 12px;
text-decoration: none;
font-family: bubbleboddy;
color: white;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
}
table {
  width: 100%;
  font-family: bubbleboddy;
}
table, th, td {
  border:  none;
  padding: 5px;
  border-collapse: collapse;
  font-family: bubbleboddy;
}
th {
  text-align: center;
  font-family: bubbleboddy;
}
#share-buttons img {
  border:  none;
  padding: 5px;
  width: 35px;
  display: inline;
  font-family: bubbleboddy;
}